---
import "../styles/reset.scss";
import "../styles/design-tokens.scss";
import "../styles/components.scss";
import Header from "../components/Header.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Footer from "../components/Footer.astro";

const { title = "Dig and Build" } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <ContactCTA />
    <Footer />
  </body>
</html>

<style lang="scss" is:global>
  @use "../styles/design-tokens.scss" as *;

  body {
    background-color: $color-bg;
    background-image: $paper-noise;
    background-size: $paper-noise-size;
    color: $fg-1;
    font-family: $font-serif;
    font-size: $fs-body;
    line-height: $lh-body;
    letter-spacing: $tracking;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
</style>
